@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background: #f8f9fd;
}

nav {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

ul#links {
  display: inherit;
  justify-content: space-between;
}

li {
  padding: 10px;
  list-style: none;
}

li a {
  text-decoration: none;
  color: #b85551;
  font-size: 1.1rem;
}

h1 {
  font-size: 1.5rem;
  color: #990601;
}

/* div.toggle {
  display: none;
} */

@media screen and (max-width: 768px) {
  nav {
    display: flex;
    flex-direction: column;
  }

  ul#links {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }

  div.toggle {
    display: block;
    position: absolute;
    right: 0;
    padding-right: 2rem;
    padding-top: 5px;
  }

  div.dot {
    background: #990601;
    width: 20px;
    height: 2px;
    border-radius: 20px;
  }

  div.dot:nth-child(2) {
    background: #990601;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    margin-top: 3px;
  }

  div.dot:nth-child(3) {
    background: #990601;
    width: 20px;
    height: 2px;
    border-radius: 20px;
    margin-top: 3px;
  }
}
